$body-background-color:        #1b1e1b;
$sidebar-color:                #171a17;
$search-background-color:      #171a17;
$table-background-color:       #1f221f;
$code-background-color:        #1f221f;
$feedback-color:               #23261f;
$border-color:                 #363a34;

$body-text-color:              #d8d4c8;
$body-heading-color:           #eae6d9;
$nav-child-link-color:         #a8a496;
$link-color:                   #c2954a;
$btn-primary-color:            #c2954a;
$base-button-color:            #23261f;

$search-result-preview-color:  #8f8b7e;

$grey-dk-000: #4a4e46;
$grey-dk-100: #363a34;
$grey-dk-200: #23261f;
$grey-dk-250: #1f221f;
$grey-dk-300: #1b1e1b;
